.page-wrap {
  width: 100%;
  height: calc(100vh - 24px);
  display: flex;
  justify-content: center;
  background-color: var(--page-bg);
  position: relative;

  .front {
    flex-shrink: 0;
    width: 80%;
    padding: 12px;
    padding-top: 60px;

    &-header {
      display: flex;
      align-items: center;

      &-label {
        white-space: nowrap;
        margin-left: 60px;
      }

      &-count {
        color: #52c41a;
      }
    }

    &-list {
      margin-top: 60px;
      width: 80%;
      height: 60vh;
      border: 1px solid gray;
      border-radius: 8px;
    }
  }

  .list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: var(--page-bg);
    display: flex;
    justify-content: center;

    .box-wrap {
      width: 80%;
      max-width: 800px;
      display: flex;
      align-items: center;
      justify-content: center;


      .video-box-other {
        width: 100%;
        object-fit: cover;
        max-height: 90vh;
        border-radius: 4px;
      }
    }

    .video-box-me {
      width: 200px;
      position: absolute;
      left: 0;
      top: 0;
      video{
        width: 100%;
        transform: rotateY(180deg);
        border-radius: 4px;
      }

    }
  }
}