.page-wrap{
  width: 100%;
  height: calc(100vh - 24px);
  display: flex;
  justify-content: center;
  background-color: var(--page-bg);
  // .content{flex: 1;}

  .front{
    flex-shrink: 0;
    width: 80%;
    padding: 12px;
    padding-top: 60px;
    &-header{
      display: flex;
      align-items: center;
      &-label{
        white-space: nowrap;
        margin-left: 60px;
      }
      &-count{
        color: #52c41a;
      }
    }
    &-list{
      margin-top: 60px;
      width: 80%;
      height: 60vh;
      border: 1px solid gray;
      border-radius: 8px;
    }
  }

  .list-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}